<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
</head>
<body>
<h1>User Management</h1>
<a th:href="@{/users/new}">New User</a>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Sl</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Photo</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="u : ${userList}">
    <td th:text="${u.id}"> </td>
    <td th:text="${u.firstName}"></td>
    <td th:text="${u.lastName}"></td>
    <td >
      <span th:if="${u.photo==null}"></span>
      <img th:if="${u.photo !=null}" th:src="@{${u.photosImagePath}}">
    </td>
    <td th:text="${u.email}"></td>
    <td th:text="${u.roles}"></td>

<!--    <td th:text="${u.roles.name}"></td>-->

    <td>
<!--      <a th:href="@{'/emp_delete/'+${emp.eid}}" class="btn btn-danger">Delete</a>-->
<!--      <a th:href="@{'/emp_edit/'+${emp.eid}}" class="btn btn-warning">Edit</a>-->
    </td>
  </tr>

  </tbody>
</table>

</body>
</html>